@use "../../styles/_reset.scss" as *;
@use "../../styles/_variables.scss" as *;

.short {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: $font-size-small;

  &__label {
    line-height: 1.25rem;
    color: $color-blue-navy;
  }

  &__input {
    box-sizing: border-box;
    appearance: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.4rem;
    padding: 0.75rem 1rem;
    gap: 0.5rem;
    width: 32rem;
    height: 3rem;
    line-height: 1.5rem;
    color: $color-blue-navy;
    background: $color-white;
    border-radius: 0.5rem;
    border: 1px solid $color-grey-light;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    &--empty {
      box-sizing: border-box;
      appearance: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0.4rem;
      padding: 0.75rem 1rem;
      gap: 0.5rem;
      width: 32rem;
      height: 3rem;
      line-height: 1.5rem;
      color: $color-blue-navy;
      background: $color-white;
      border-radius: 0.5rem;
      border: 1px solid $color-red-normal;
      box-shadow: 0px 1px 2px rgba(222, 59, 31, 0.05);

      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $color-grey-dark;
      }
    }
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-dark;
    }
  }
}
