@use "../../styles/_reset.scss" as *;
@use "../../styles/_variables" as *;

.art {
  margin: 0 auto;
  padding: 10px;
  background-color: $color-blue-navy;
  color: $color-white;
  border-radius: 5px;
  height: 100%;

  &__title {
    font-size: 32px;
    margin: 0;
    color: $color-white;
  }

  &__text {
    font-size: 12px;
    font-weight: lighter;
    color: $color-white;
  }
}

img {
  max-width: 100%;
  max-height: 50rem;
}